{% extends 'base.html.twig' %}

{% block mainContent %}
    {% for post in posts %}
        <p class="post-title">
            <a href="{{ site_url }}/{{ post.file }}">{{ post.title }}</a>
            <small>({{ post.category }})&nbsp;{{ post.date|date('d/m/Y') }}, {{ post.author.fullName }}</small>
        </p>
        <p>{{ post.short_text }}</p>
    {% endfor %}
{% endblock %}